# Data Science Tools and Ecosystem

### In this notebook, I will introduce you to the summary of the data science ecosystem.

### Some of the popular programming languages that Data Scientists use are listed below:

1.   Python
2.   R
3.   Scala
4.   Julia

## Some of the commonly used libraries used by Data Scientists include:


1.   Panda
2.   Numpy
3.   Seaborn
4.   Matplotlib
5.   Scikit Learn
6.   Keras
7.   Scipy
8.   Stats

Data Science Tools 
|-------------------|
|mysql|
|apache hive|
|MongoDB|
|Kibana|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

#### Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
print(hours)

3.3333333333333335

# Objectives:
## Some items covered in this notebook are:

* mark-up language in jupyter lab
* popular languages that Data Scientists
* commonly used libraries used by Data Scientists
* arithmentic operations in jupyter notebook

## Author
Joshua Adu